<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_article_ui</title>
</head>
<body>


<p>title:<input value="第一篇文章"/></p>
<p>author:<input value="tj"/></p>
<p>md:<input value="## hello "/></p>
<p>html:<input value="<h2>hello</h2>"/></p>


<p>
    <button id="btn">发布</button>
</p>

<script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>


<script>
    const btn = document.getElementById('btn');
    const inputs = document.getElementsByTagName("input");

    btn.onclick = () => {
        axios.post('/api/addArticle', {

            title: inputs[0].value,
            author: inputs[1].value,
            md: inputs[2].value,
            html: inputs[3].value,

        })
            .then(res => {
                console.log(res.data);
            })
            .catch(error => {
                console.log(error);
            });
    }

</script>

</body>
</html>