<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login_ui</title>
</head>
<body>


<p>name:<input value="tj"/></p>
<p>phone:<input value="18231455555"/></p>



<p>
    <button id="btn">修改</button>
</p>

<script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>


<script>
    const btn = document.getElementById('btn');
    const inputs = document.getElementsByTagName("input");

    btn.onclick = () => {
        axios.post('/api/updatePhone', {
            name: inputs[0].value,
            phone: inputs[1].value,
        })
            .then(res => {
                console.log(res.data);
            })
            .catch(error => {
                console.log(error);
            });
    }

</script>

</body>
</html>